
<h1>Build Bridges</h1>

<form action="/buildbridges/search">
  <label for="">Location</label>
  <select name="location">
    <option>Melbourne</option>
    <option>Sydney</option>
    <option>Canberra</option>
    <option>Perth</option>
  </select>
  <br>

  <label for="">Category</label>
  <select name="category">
    <option>Working with animals</option>
    <option>Disability care</option>
    <option>Education and training</option>
    <option>Social support</option>
  </select>
  <br>

  <label for="">Organization</label>
  <input type="text" name="organization"><br>

  <button>Search</button>

</form>

<form action="/buildbridges/personality_search">
  <button>Personality Search</button>
</form>

<!-- <a href="/buildbridges/search">Search</a> -->
