
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Build Bridges</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <header>
    <%#= session[:user_id] %>

    <% if logged_in? %>
      <div>Logged in as <%= current_user.email %></div>
      <div>
        <form action="/session" method="post">
          <input type="hidden" name="_method" value="delete">
          <button>Logout</button>
        </form>
      </div>
      <div><a href="/buildbridges/user" class="button">Profile</a></div>

    <% else %>
      <a href="/buildbridges/login" class="button">Login</a>
      <a href="/buildbridges/new_user" class="button">Create Account</a>
    <% end %>
    <% if flash[:error] %>
      <%= flash[:error] %>
    <% end %>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
    <a href="/buildbridges" class="button">Home Page</a>
  </footer>
</body>
