<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Build Bridges</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>

  <%= session[:user_id] %>

  <% if logged_in? %>
    Logged in as <%= current_user.email %>

    <form action="/session" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>Logout</button>
    </form>
  <% else %>
    <a href="/buildbridges/login">Login</a>
    <a href="/buildbridges/new_user">Create Account</a>
  <% end %>

  <!-- <% if flash[:error] %>
    <%= flash[:error] %>
  <% end %> -->

  <%= yield %>

</body>
