
  <label for="">Location</label>
  <select name="location">
    <option>Melbourne</option>
    <option>Sydney</option>
    <option>Canberra</option>
    <option>Perth</option>
  </select>
  <br>

  <label for="">Category</label>
  <select name="category">
    <option>Working with animals</option>
    <option>Disability care</option>
    <option>Education and training</option>
    <option>Social support</option>
  </select>
  <br>

  <label for="postbody">Post Opening</label>
  <textarea id="postbody" name="body"></textarea>
