<h2>Name of Oragnization: <%= @user.name %></h2>

<h2>Address: <%= @user.address %></h2>

"print posts here"
"delete posts"

<form action="" method="post">
  <input type="hidden" name="dish_id" value="<%= @dish['id'] %>">
  <label for="body">Post Opening</label>
  <textarea id="body" name="body"></textarea>
  <button>Post</button>
</form>

"show enquiries"

<a href="/buildbridges">Home Page</a>
